<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="1">
    <title>Viewing {{ filename }}</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="mystyle.css">
    <style>
        /* Pequeno ajuste para o link "Back to list" */
        p[style="text-align: center;"] {
            margin-top: 30px; /* Mais espaçamento superior */
            padding-top: 15px;
            border-top: 1px solid #eee; /* Linha divisória */
        }
    </style>
</head>

<body>
    <h1>Viewing {{ filename }}</h1>
    <pre>{{ content }}</pre>
    <p style="text-align: center;"><a href="/">Back to list</a></p>
</body>

</html>