<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>File Not Found</title>
	<style>
		body {
			font-family: sans-serif;
			max-width: 600px;
			margin: auto;
			text-align: center;
			padding-top: 50px;
		}

		.message {
			color: #d00;
			font-size: 1.2em;
			margin-bottom: 20px;
		}

		a {
			text-decoration: none;
			color: blue;
		}
	</style>
</head>

<body>
	<div class="message">
		<h1>404: File Not Found</h1>
		<p>The file you tried to access does not exist.</p>
	</div>
	<a href="/">Back to index</a>
</body>

</html>
