<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Viewing {{ filename }}</title>
	<style>
		body {
			font-family: sans-serif;
			max-width: 600px;
			margin: auto;
		}

		pre {
			white-space: pre-wrap;
			word-wrap: break-word;
			background: #f7f7f7;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	</style>
</head>

<body>
	<h1>Viewing {{ filename }}</h1>
	<pre>{{ content }}</pre>
	<p><a href="/">Back to list</a></p>
</body>

</html>
